@import url(https://fonts.googleapis.com/css?family=Roboto);

.banner {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  position: relative;
  width: 100%;
  min-width: 500px;
}

.banner h1 {
  font-size: 30px;
}

.banner header {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 0 20px;
  text-align: left;
  color: white;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner a {
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  right: 20px;
  padding: 10px;
  text-decoration: none;
}

.banner a:hover {
  background-color: rgba(0, 0, 0, 1);
}